[submodule "deps/solo5libvmm"]
	path = deps/solo5libvmm
	url = git@github.com:Kacper-M-Michalik/solo5libvmm.git
[submodule "deps/sddf"]
	path = deps/sddf
	url = git@github.com:au-ts/sddf.git
[submodule "deps/libvmm"]
	path = deps/libvmm
	url = git@github.com:au-ts/libvmm.git